@box-radius: 8px;
.bookmark {
  display: flex;
  flex-direction: column;
  height: auto;

  .list-container {
    background-color: #ffffff;
    margin: 0 14px;

    @media @tablet {
      width: 100%;
      position: fixed;
      z-index: 200;
      margin: 0;
      margin-top: 60px;
    }

    .top {
      height: 100vh;
    }
  }

  .weui-cells__title {
    text-align: center;
    color: darkorange;
  }

  .search {
    display: flex;
    justify-content: center;
    background-color: #efeff4a6;
    padding: 9px 14px;

    .input-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 2px 15px;
      background-color: #ffffff;
      height: 40px;
      width: 100%;

      -moz-border-radius: @box-radius;
      -webkit-border-radius: @box-radius;
      border-radius: @box-radius;

      span.icon-search1 {
        color: darkorange;
        font-size: 24px;
        padding: 8px 5px 0 0px;
      }

      input {
        width: 100%;
        padding: 0;
        line-height: 39px;
        font-size: 16px;
        border: 0;
        background-color: transparent;
      }
    }
  }

  .result-amount {
    padding: 0 6px;
    font-size: 18px;
    font-weight: 700;
  }
}


