.note-container {
  overflow: scroll;
  position: relative;
  padding: 0 14px;
  @media @medium {
    display: none;
  }
}

textarea.textarea-note {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: block;
  resize: none;
  border: 0;
  width: 100%;
  color: inherit;
  font-size: 15px;
  outline: 0;
  background-color: #ffc;
  line-height: 1.4;
}

.edit-popup {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  color: #000000;
  background-color: rgba(89, 89, 89, 0.71);
  z-index: @z-index-note-list;
  display: flex;
  justify-content: center;
  align-items: center;
  .popup-control {
    text-align: right;
    button {
      cursor: pointer;
    }
  }

  .edit-container {
    position: relative;
    height: 80%;
    width: 80%;
    background-color: #ffc;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .note-title {
      font-size: 24px;
      color: #8e8d8d;
    }
  }
}

.note-grid {
  //position: absolute;
  //top: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  @media only screen and (max-width: @screen-large-min) {
    grid-template-columns: 1fr;
  }
  grid-template-rows: 137px;
  overflow: scroll;

  .edit {
    display: grid;
    grid-template-columns: 1fr 45px;
    text-decoration: none;
    color: #000;
    background: #ffc;
    height: 10em;
    width: auto;
    -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    position: relative;
    z-index: @z-index-note-list;
    margin: 8px;
    padding: 15px 5px 15px 15px;
    cursor: pointer;
  }

  .note-edit-control {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-left: 18px;

    span {
      cursor: pointer;
      color: #9a9696;
      display: none;
      font-size: 20px;

      &:hover {
        color: darkorange;
      }
    }
  }

  .edit:hover {
    span {
      display: block;
    }
  }

  span.close-icon {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 13px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    line-height: 7px;

    &:hover {
      color: red;
      font-weight: 700;
    }
  }
}
