
.clock-container {
  display: flex;
}

.clock {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 230px;

  .time {
    color: #f6f6f6;
    font-size: 90px;
    font-weight: 700;
    line-height: 80px;
  }

  .date {
    font-size: 25px;
    font-weight: 700;
    color: #e6e3e3;
  }
}
