.with-corner {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.with-shadow {
  -webkit-box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 1);
}

.weui-cell_access {
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background-color: rgba(255, 140, 0, 0.09);
  }
}
.align-right {
  width: 100%;
  display: flex;
  justify-content: end;
}
button.weui-btn_plain-primary,
button.weui-btn_plain-default {
  border: none;
  cursor: pointer;
  padding: 0.3em 1.32em;
  color: #525252;
  &:hover {
    background-color: #6e6e6e24;
  }
}
