.todoapp {
  .weui-toptips {
    font-size: 20px;
  }
}

.weui-cell_access {
  cursor: pointer;
  font-size: 14px;

  :hover {
    color: darkorange;
  }
}

@shadow-bottom: 1px 3px 4px 1px rgba(69, 69, 69, 0.44);

