@screen-xs-min: 560px;
@screen-sm-min: 840px;
@screen-md-min: 1120px;
@screen-lg-min: 1180px;

@tiny: ~"only screen and (max-width: @{screen-xs-min})";
@small: ~"only screen and (max-width: @{screen-sm-min})";
@medium: ~"only screen and (max-width: @{screen-md-min})";
@large: ~"w @{screen-lg-min})";
