
@screen-small-min: 560px;
@screen-medium-min: 840px;
@screen-large-min: 1120px;
@screen-lg-min: 1180px;

@small: ~"only screen and (max-width: @{screen-small-min})";
@medium: ~"only screen and (max-width: @{screen-medium-min})";
@large: ~"only screen and (max-width: @{screen-large-min})";
